NSIS/TT78_GTGTNT_A4_002/TT78_GTGTNT_A4_002_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="VAT_Invoice"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="qualified" elementFormDefault="qualified">
  <xs:simpleType name="integer-or-empty">
    <xs:union memberTypes="xs:integer empty-string" />
  </xs:simpleType>
  <xs:simpleType name="float-or-empty">
    <xs:union memberTypes="xs:float empty-string" />
  </xs:simpleType>
  <xs:simpleType name="float">
    <xs:union memberTypes="xs:float" />
  </xs:simpleType>
  <xs:simpleType name="empty-string">
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="DSHDon"/>

  <xs:element name="HDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="key" nillable="true" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="100"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="DLHDon" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:all>

              <xs:element name="TTChung" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MHSo" nillable="true" minOccurs="0" maxOccurs="1">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="SBKe" nillable="true" minOccurs="0" maxOccurs="1">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="NBKe" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>

                    <xs:element name="DVTTe" nillable="true" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="TGia" type="float-or-empty" nillable="true" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="HTTToan" nillable="true" minOccurs="0" maxOccurs="1">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                    <xs:element name="NLap" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="NDHDon" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="NBan" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Ten" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="400"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="MST" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="14"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="DChi" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="400"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="SDThoai" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="DCTDTu" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="STKNHang" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="TNHang" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="400"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="Fax" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="LDDNBo" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="255"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="HDSo" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="HVTNXHang" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="TNVChuyen" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="PTVChuyen" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="100"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="HDKTSo" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="255"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="HDKTNgay" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>

                        </xs:all>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="NMua" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Ten" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="400"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="MST" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="14"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="DChi" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="400"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="MKHang" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="50"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="SDThoai" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="DCTDTu" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="HVTNMHang" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="STKNHang" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="TNHang" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="400"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="HVTNNHang" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          
                        </xs:all>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="DSHHDVu" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="HHDVu" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="TChat" nillable="true" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="float">
                                      <xs:enumeration value="1" />
                                      <xs:enumeration value="2" />
                                      <xs:enumeration value="3" />
                                      <xs:enumeration value="4" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>

                                <xs:element name="STT"  type="xs:string" minOccurs="0" maxOccurs="1"/>

                                <xs:element name="MHHDVu" nillable="true" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="0"/>
                                      <xs:maxLength value="50"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>

                                <xs:element name="THHDVu" nillable="true" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="500"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>

                                <xs:element name="DVTinh" nillable="true" minOccurs="0" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="50"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>

                                <xs:element name="SLuong" type="float-or-empty" nillable="true" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="DGia" type="float-or-empty" nillable="true" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="TLCKhau" type="float-or-empty" nillable="true" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="STCKhau" type="float-or-empty" nillable="true" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="ThTien" type="float-or-empty" nillable="true" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="TSuat" nillable="true" minOccurs="0" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="11"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>

                                <xs:element name="TTKhac" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>

                                      <xs:element name="TTin" minOccurs="1" maxOccurs="1">
                                        <xs:complexType>
                                          <xs:all>
                                            <xs:element name="TTruong" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="KDLieu" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="DLieu" nillable="true" minOccurs="0" maxOccurs="1">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="20"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:all>
                                        </xs:complexType>
                                      </xs:element>

                                      <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="TThue" type="float-or-empty" nillable="true" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="TSThue" type="float-or-empty" nillable="true" minOccurs="0" maxOccurs="1"/>
                                
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="TToan" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>

                          <xs:element name="THTTLTSuat" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="LTSuat" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="TSuat" nillable="true" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:maxLength value="11"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="TThue" type="float" nillable="true" minOccurs="0" maxOccurs="1"/>
                                      <xs:element name="ThTien" type="float" nillable="true" minOccurs="0" maxOccurs="1"/>
                                    </xs:all>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="TgTCThue" type="float" nillable="true" minOccurs="0" maxOccurs="1"/>
                          <xs:element name="TgTThue" type="float" nillable="true" minOccurs="0" maxOccurs="1"/>

                          <xs:element name="DSLPhi" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="LPhi" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="TLPhi" nillable="true" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:maxLength value="100"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>

                                      <xs:element name="TPhi" type="float-or-empty" nillable="true" minOccurs="0" maxOccurs="1"/>
                                    </xs:all>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="TTCKTMai" type="float-or-empty" nillable="true" minOccurs="0" maxOccurs="1"/>
                          <xs:element name="TgTTTBSo" type="float" nillable="true" minOccurs="1" maxOccurs="1"/>
                          <xs:element name="TgTTTBChu" nillable="true" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="255"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <!-- ToiNT them khi KH muon truyen so HD len -->
              <xs:element name="InvoiceNo" type="float-or-empty" nillable="true" minOccurs="0" maxOccurs="1"/>
              
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
